<div class="shadow p-3 mb-5 bg-white rounded mt-5 text-center div-sigin container">
    <form (ngSubmit)="login()" [formGroup]="loginForm">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>

        <div class="form-group">
            <input type="email" class="form-control" name="email" formControlName="email" placeholder="E-mail"
                 class="form-control border-color">

            <input type="password" name="password" formControlName="password" placeholder="Senha"
                 class="form-control border-color mt-1">
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button>
    </form>
</div>