
<div class="container">
    <form (ngsubmit)="loginCerto()"  [formGroup]="loginForm" class="form-group">

        <h4>Login</h4>
            <label for="">User</label>
            <input type="email" class="form-control" name="email" formControlName="email" placeholder="User" required minlength="6">




            <label for="">Password</label>
            <input type="password" class="form-control" name="password" formControlName="password" placeholder="password" required minlength="6">
            <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
