<style>

 
  .container{
    border-radius: 4%;
    text-align: center;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
    background-color: rgb(255, 255, 255);
    width: 900px;
    margin-left: 130px;
  }
  .topo{
    font-size: 40px;
    color: black;
  }
  .img-hero{
   
    height: 400px;
  }
  .card-segundo{
    font-size: 30px;
    color: black;
  }

</style>

  

<div class="container">
  <div class="topo">
    <span>{{ title }} Está em execução!</span>
  </div>
  <div class="img-hero">
    <img src="../assets/img/undraw_the_world_is_mine_nb0e.svg" class="img-hero" alt="">
  </div>
<div class="card-segundo">
  <app-meu-primeiro2></app-meu-primeiro2>
</div>
</div>

